/* 
TODO : 
-do sidebar layout;
do header layout;
*/
@import "./Normalize.css";
@import url("https://fonts.googleapis.com/css?family=Roboto");

:root {
    font-family: Roboto, 'Helvetica';
}

body {
    display: grid;
    grid-template: 1fr 6fr/1fr 5fr;
    grid-template-areas:
        "sidebar header"
        "sidebar main";
    height: 100vh;
}

header {
    grid-area: header;
    font-weight: bold;
    display: grid;
    padding: 1rem 0;
    gap: 1rem;
}

.sidebar {
    grid-area: sidebar;
    background-color: #1992d4;
    color: white;
    padding: 1rem;
    font-weight: 900;
}

.sidebar-inner-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 55%;
}

main {
    grid-area: main;
    display: grid;
    grid-template: 1fr / 3fr 1fr;
    grid-template-areas:
        "projects right-bar";
    background-color: #e2e8f0;
    padding: 1rem;
    gap: 1rem;
}

.right-bar {
    grid-area: right-bar;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.projects-wrapper {
    grid-area: projects;
    flex: 1;
}

.announcements-wrapper {
    grid-area: announcements;
    flex: 1;
    height: 20rem;
    display: flex;
    flex-direction: column;
}

.trending-wrapper {
    grid-area: trending;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.project-card {
    background-color: white;
    height: 11rem;
    font-size: small;
    border-left: 6px solid #f0b429;
    padding: 1.2rem;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.project-title {
    margin-bottom: 5px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 14px;
}

.project-body {
    color: #636363;
}

.announcements {
    background-color: white;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
}

.trendings {
    background-color: white;
    border-radius: 8px;
}

.upper-header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    /* margin-bottom: 1.2rem; */
}

.lower-header {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 1rem;
}

.link {
    background-color: #1992d4;
    color: white;
    text-decoration: none;
    border-radius: 30px;
    height: 2rem;
    width: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
    font-weight: bold;
}


.projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: row;
    gap: 1rem;
}

.announcement {
    padding: 0;
    margin: 1rem;
    font-size: small;
    flex: 1;
    padding-left: .75rem;
    padding-right: .75rem;
}

.announcements {
    flex: 1;
}

.announcement:first-of-type {
    margin-top: 0;
    margin-bottom: .5rem;
}

.announcement:last-of-type {
    margin-bottom: 0;
    margin-top: .5rem;
}

.announcement:nth-child(2) {
    border-top: 2px solid #636363aa;
    border-bottom: 2px solid #636363aa;
    margin-top: 0;
    margin-bottom: 0;
    padding: .75rem;
}

.announcement-title {
    padding-bottom: 5px;
    margin: 0;
    font-family: Roboto;
}

.announcement-body {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    color: #636363;
}

img {
    height: 1rem;
}

.logo {
    height: 2.6rem
}

.site-tab {
    display: flex;
    margin: 1rem 0;
}

.meta-tab {
    display: flex;
    margin: 1rem 0;
}

.tab-text {
    margin-left: .75rem;
}

.title-wrapper {
    display: flex;
    align-items: center;
}

.title {
    font-size: larger;
    font-weight: bold;
    margin-left: .75rem;
    font-size: 1.5rem;
}

.search-wrapper {
    display: flex;
    align-items: center;
    margin: 0rem 1rem 1rem 1.5rem;
    width: 75%;

}

.search-icon {
    margin-right: .75rem;
    height: 1.2rem;
}

.search-bar>input {
    background-color: #e2e8f0;
    border: none;
    border-radius: 30px;
    flex: 1;
    width: 100%;
    height: 1.43rem;
}

.search-bar {
    width: 100%;
}

input:focus {
    outline: none;

}

.user-avatar {
    height: 3.4rem;
    border-radius: 100%;
    ;
}

.user-profile {
    display: flex;
    align-items: center;
    padding-left: 1.5rem;
}

.user-name-wrapper {
    margin-left: .75rem;
}

.user-greeting {
    font-size: small;
}

.user-name {
    font-size: large;
    margin-top: .25rem;
}

.user-tab {
    display: flex;
    align-items: center;
}

.user-tab>.user-avatar {
    height: 2.5rem;
    margin: 0 1.5rem;
}

.bell-icon {
    height: 1.2rem;
}

.trend-picture {
    height: 2.5rem;
    border-radius: 100%;
    margin: .75rem;
}

.trend {
    display: flex;
}

.trendings {
    display: flex;
    flex-direction: column;
}

.trend-subtext {
    color: #636363;
    font-size: small;
    font-weight: bold;
}

.trend-name {
    font-size: small;
    margin-bottom: .10rem;
}

.inner-trend-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.project-options {
    margin-top: auto;
    display: flex;
    justify-content: end;
}

.project-option {
    margin: 0 .5rem;

}

.project-option>img {
    height: 1.2rem;
}